<footer class="footer">
  <small>
    <a href="http://www.lztbwl.com/about/">关于铁邦</a>
  </small>
<nav> <ul>
  <small>
      <li><%= link_to '新建管理员', new_admin_path %></li>
</ul> </small> </nav>
</footer>